<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qhit.mapper.ExamPlanInfoMapper" >
  <resultMap id="BaseResultMap" type="com.qhit.pojo.ExamPlanInfo" >
    <id column="examPlanId" property="examPlanId" jdbcType="INTEGER" />
    <result column="courseId" property="courseId" jdbcType="INTEGER" />
    <result column="classId" property="classId" jdbcType="INTEGER" />
    <result column="examPaperId" property="examPaperId" jdbcType="INTEGER" />
    <result column="beginTime" property="beginTime" jdbcType="TIMESTAMP" />
    <association property="course" javaType="com.qhit.pojo.CourseInfo">
      <id column="courseId" property="courseId"/>
      <result column="courseName" property="courseName"/>
    </association>
    <association property="clazz" javaType="com.qhit.pojo.ClassInfo">
      <id column="classId" property="classId"/>
      <result column="className" property="className"/>
    </association>
    <association property="examPaper" javaType="com.qhit.pojo.ExamPaperInfo">
      <id column="examPaperId" property="examPaperId"/>
      <result column="examPaperName" property="examPaperName"/>
      <result column="subjectNum" property="subjectNum"/>
      <result column="examPaperScore" property="examPaperScore"/>
      <result column="examPaperEasy" property="examPaperEasy"/>
      <result column="examPaperTime" property="examPaperTime"/>
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    examPlanId, courseId, classId, examPaperId, beginTime
  </sql>

  <select id="getExamPlanList" parameterType="com.qhit.pojo.ExamPlanInfo" resultMap="BaseResultMap">
    SELECT a.*,b.courseName,c.className,d.examPaperName,d.subjectNum,d.examPaperTime FROM ExamPlanInfo a
    INNER JOIN courseinfo b ON a.courseId=b.courseId
    INNER JOIN classinfo c ON a.classId=c.classId
    INNER JOIN exampaperinfo d ON a.examPaperId=d.examPaperId
    <where>
      <if test="courseId != null">
        a.courseId=#{courseId}
      </if>
      <if test="examPaperId != null">
        OR a.examPaperId=#{examPaperId}
      </if>
      <if test="classId != null">
        OR a.classId=#{classId}
      </if>
    </where>
  </select>

  <insert id="insertExamPlan" parameterType="com.qhit.pojo.ExamPlanInfo">
    INSERT INTO examplaninfo VALUES(NULL, #{courseId}, #{classId}, #{examPaperId}, #{beginTime})
  </insert>

  <update id="updateExamPlan" parameterType="com.qhit.pojo.ExamPlanInfo">
    UPDATE examplaninfo SET courseId=#{courseId}, classId=#{classId}, examPaperId=#{examPaperId}, beginTime=#{beginTime}
    WHERE examPlanId=#{examPlanId}
  </update>


  <select id="getExamPlanById" parameterType="int" resultMap="BaseResultMap">
    SELECT a.*,b.courseName,c.className,d.examPaperName,d.subjectNum FROM ExamPlanInfo a
    INNER JOIN courseinfo b ON a.courseId=b.courseId
    INNER JOIN classinfo c ON a.classId=c.classId
    INNER JOIN exampaperinfo d ON a.examPaperId=d.examPaperId
    WHERE a.examPlanId=#{examPlanId}
  </select>


  <resultMap type="com.qhit.pojo.ExamPlanInfo" id="queryWillExam">
    <id column="examPlanId" property="examPlanId"/>
    <result column="beginTime" property="beginTime"/>
    <!-- 科目 -->
    <association property="course" javaType="com.qhit.pojo.CourseInfo">
      <id column="courseId" property="courseId"/>
      <result column="courseName" property="courseName"/>
    </association>
    <!-- 班级 -->
    <association property="clazz" javaType="com.qhit.pojo.ClassInfo">
      <id column="classId" property="classId"/>
    </association>
    <!-- 试卷 -->
    <association property="examPaper" javaType="com.qhit.pojo.ExamPaperInfo">
      <id column="examPaperId" property="examPaperId"/>
      <result column="examPaperName" property="examPaperName"/>
      <result column="subjectNum" property="subjectNum"/>
      <result column="examPaperScore" property="examPaperScore"/>
      <result column="examPaperEasy" property="examPaperEasy"/>
      <result column="examPaperTime" property="examPaperTime"/>
    </association>
  </resultMap>
  <!-- 查询学生待考信息 -->
  <select id="getStudentWillExam" parameterType="java.util.Map" resultMap="queryWillExam">
    SELECT a.*,d.exampaperName,d.subjectNum,d.examPaperScore,d.examPaperEasy,d.examPaperTime,e.courseName FROM ExamPlanInfo a
    INNER JOIN classinfo b ON a.classId=b.classId
    INNER JOIN gradeinfo c ON b.gradeId=c.gradeId
    INNER JOIN exampaperinfo d ON a.examPaperId=d.examPaperId
    INNER JOIN courseinfo e ON a.courseId=e.courseId
    WHERE a.classId=#{classId}
  </select>
  <select id="getExamPlanByClassId" parameterType="int" resultMap="BaseResultMap">
    SELECT a.*,d.exampaperName,d.subjectNum,d.examPaperScore,d.examPaperEasy,d.examPaperTime,e.courseName FROM ExamPlanInfo a
    INNER JOIN classinfo b ON a.classId=b.classId
    INNER JOIN gradeinfo c ON b.gradeId=c.gradeId
    INNER JOIN exampaperinfo d ON a.examPaperId=d.examPaperId
    INNER JOIN courseinfo e ON a.courseId=e.courseId
    WHERE a.classId=#{classId}
  </select>

  <!-- 移除过期考试安排 -->
  <delete id="deleteExamPlan" parameterType="int">
    DELETE FROM examplaninfo WHERE examPlanId=#{examPlanId}
  </delete>
</mapper>